<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Product</h3>

<p>
    <a th:href="@{/products/create}">
        Add new product
    </a><br>
    <br>
    <a th:href="@{/products/top4New}">
        List new product
    </a>
</p>
<form>
    <input type="text" name="search">
    <button>Search</button>
</form>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="products">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pro : ${product}">
        <td th:text="${pro.id}"></td>
        <td th:text="${pro.name}"></td>
        <td th:text="${pro.price}"></td>
        <td><a th:href="@{/products/edit/__${pro.id}__}">Edit</a></td>
        <td><a th:href="@{/products/delete/__${pro.id}__}">Delete</a></td>
        <td><a th:href="@{/products/view/__${pro.id}__}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>